extends layout

block css

block content
  if user
    h1 Twittertool
  else
    h1 Twittertool
    h4 Enter your email address and password to log in to your account
    .row
      .col-xs-12.col-sm-6
        form#login-form(action='/login', method='post')
          input(type='hidden',name='_csrf',value=csrf)
          .input-group
            span.input-group-addon Email address
            input.form-control(type='email',name='email',placeholder='email address',value=logInEmail)
          .input-group
            span.input-group-addon Password
            input.form-control(type='password',name='password',placeholder='password')
          .input-group
            button.btn.btn-success Log in
        if logInError=='email-not-found'
          .alert.alert-danger No account was found for that email address.
        if logInError=='bad-password'
          .alert.alert-danger The password you have entered was not correct. 
            a(href="reset-password") I've forgotten my password.

    h4 If you don't already have an account you can create one now
    .row
      .col-xs-12.col-sm-6
        form#register-form(action='/register', method='post')
          input(type='hidden',name='_csrf',value=csrf)
          .input-group
            span.input-group-addon Email address
            input.form-control(type='email',name='email',placeholder='email address',value=regEmail)
          .input-group
            span.input-group-addon Password
            input.form-control(type='password',name='password',placeholder='password')
          .input-group
            span.input-group-addon Confirm Password
            input.form-control(type='password',name='password_confirm',placeholder='confirm password')
          .input-group
            button.btn.btn-primary Register
        if regError=='email-already-used'
          .alert.alert-danger That email address has already been registered. Please use the above log in
        if regError=='password-mismatch'
          .alert.alert-danger The passwords you have entered do not match